{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Main Section Start -->

<div class="row">	
	{% for product in products %}
	<div class="col-md-2">
		<figure class="card card-product-grid">
			<div class="img-wrap">

				<a href="{{ product.get_url }}"><img src="{{ product.image.url }}"></a>

			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="{{ product.get_url }}" class="title text-uppercase">{{ product.product_title }}</a>
					<div class="price-wrap mt-2">
						<span class="price font-weight-bold">frw {{ product.price }}</span>
					</div> <!-- price-wrap.// -->
                    <div class="price-wrap mt-2">
						<span><p class="text-center">{{ product.description }}</P></span>
					</div> <!-- price-wrap.// -->
				</div>
				{% comment %} <a href="{{ product.get_url }}" class="btn btn-outline-danger text-uppercase font-weight-bold">Buy </a> {% endcomment %}
			</figcaption>
		</figure>
	</div> <!-- col.// -->
	{% endfor %}	
</div> <!-- row end.// -->
{% endblock %}
