 {% load static %}
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> info@wpg.com</li>                            
                            <a href="" class="info btn"><li> Our Business Partners</li></a>
                            <a href="{% url  'registerVendor' %}" class="btn btn-outline-info"><li> sell</li></a>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">                    
                    <div class="header__top__right">  
                        <a href="{% url 'marketplace' %}" class="btn btn-outline-danger text-uppercase font-weight-bold">Shop Now</a>                      
                        <div class="header__top__right__social">
                            <a href="#"<i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>                        
                        <div class="header__top__right__auth">
                            <div class="header__top__right__language">
                                {% comment %} <img src="{% statsic 'img/language.png' %}" alt=""> {% endcomment %}
                                <div class="fa fa-user">Account</div>                                
                                <ul>
                                    {% if user.is_authenticated %}
                                    <li><a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'myAccount' %}">My Account</a></li>
                                    <li><a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}">Logout</a></li>
                                    {% else %}
                                    <li><a href="{% url 'registerUser'%}"> Register</a></li>
                                    <li><a href="{% url 'login' %}">login</a></li>
                                    <li><a href="{% url 'registerVendor' %}">Register Company</a></li>
                                    <li><a href="#">Kinyarwanda</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% comment %} <a href="{% url 'registerUser' %}"><i class="fa fa-user"></i> Login</a>                             {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo.jpeg' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="./index.html">Home</a></li>
                        <li><a href="./shop-grid.html">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    {% if user.is_authenticated %}
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i> <span id = "cart_counter">{{cart_counter}}</span></a></li>
                    </ul>
                    {% endif %}
                    <div class="header__cart__price">item: <span> frw 15,000</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->
