
{% extends 'base.html' %}
{% load static %}


{% block content%}
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                {% for cat in categories %}   
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="{{ cat.category_picture.url }}">
                        <h5><a href="{{cat.get_url}}">{{ cat.category_name }}</a></h5>                       
                    </div>  
                    <p class="lead">{{cat.description}}</p>                                     
                </div> 
                {% endfor %}               
            </div>
        </div>
    </div>
</section>
    
{% comment %} <div class="container">
    <div id="category-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for cat in categories %}                
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ cat.category_picture.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ cat.category_name }}</h5>
                        <p class="card-text">{{ cat.description }}</p>  
                        <a href="#" class="btn btn-outline-primary text-uppercase font-weight-bold">View details</a>                                      
                    </div>
                </div>
            </div>                    
            {% endfor %}
        </div>        
    </div>
</div> {% endcomment %}

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>FEACTURED PRODUCTS AND SERVICES</h2>
                    </div>                    
                </div>
            </div> 
            <div id="category-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for product in products %}                
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.product_title }}</h5>
                                <p class="card-text">{{ product.price }}</p> 
                                <h5 class="card-title">{{ product.description}}</h5>                                       
                            </div>
                        </div>
                    </div>                    
                    {% endfor %}
                </div>        
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/lp-1.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Fresh Vegetables</h6>
                                        <span> frw 3000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/Tshirt.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>T shirt </h6>
                                        <span> frw 10,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/hotel.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Nyagahene Hotel</h6>
                                        <span>frw 50,000 </span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/bricks.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Burnt Bricks</h6>
                                        <span> frw 50</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/timber.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>DriedTimbers</h6>
                                        <span> frw 15000 </span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/table.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Dining Table</h6>
                                        <span> frw 300,000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top Rated Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/house-1.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> House</h6>
                                        <span>frw 15,000,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/land.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Land for Cultivation</h6>
                                        <span> frw 2,500,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/door.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Wooden Doors </h6>
                                        <span> frw 250,000</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/food.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Agatogo</h6>
                                        <span> frw 3,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/farming.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Irish Patatoes</h6>
                                        <span> frw 600</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/stone.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Stone For Construction</h6>
                                        <span> frw 70,000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Review Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/lp-1.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Fresh Vegetables</h6>
                                        <span> frw 500 </span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/inkoko.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Chicken</h6>
                                        <span> frw 15,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/igitoki.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Fresh Banana</h6>
                                        <span> frw 5,000</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/hotels.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Guest House</h6>
                                        <span> frw 15,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/moto.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Motorcycle Taxi</h6>
                                        <span> frw 3000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/event.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Event Planners & Decolation </h6>
                                        <span> frw 500,000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'img/blog/marketing.png' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2023</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Marketing Strategies</a></h5>
                            <p>Marketing is crucial for agency growth and success. Failing to identify, reach, and engage potential clients can lead to business failure. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'img/blog/dugital-1.jpg' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2023</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Digital Literacy for Your Development</a></h5>
                            <p>Digital literacy is essential for development as it empowers individuals and societies with access to information, digital skills, and economic opportunities, fostering innovation and progress.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'img/blog/blog-3.jpg' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2023</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Why farming is first step in development ?</a></h5>
                            <p>Farming is the foundational step in development because it provides a stable food source, income, and resources for communities, serving as the basis for economic growth and human well-being. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    {% endblock %}

    

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



</body>

</html>