
{% extends 'base.html' %}
{% load static %}


{% block content%}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All categories</span>
                        </div>
                        <ul>
                            <li><a href="#">Interior Design</a></li>
                            <li><a href="#">Restaurant and Bar</a></li>
                            <li><a href="#">Fresh Food</a></li>
                            <li><a href="#">Construction Materials</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Transport</a></li>
                            <li><a href="#">Publics Services Facilatators</a></li>
                            <li><a href="#">Toursim</a></li>
                            <li><a href="#">House and Land</a></li>
                            <li><a href="#">Guest House and Hotel</a></li>
                            <li><a href="#">Event Planning& Decolaration</a></li>
                            <li><a href="#">Warehouse</a></li> 
                            <li><a href="#">Industrial Products</a></li>                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+ 250 786 486 079</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="{% static 'img/hero/banner-1.jpg' %}">
                        <div class="hero__text">
                            <span>Local products and Service for Our Development</span>
                            <h2>Interior Design>>Made In Rwanda</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>OUR CATEGORIES</h2>
                    </div>                    
                </div>
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/furniture.jpg' %}">
                            <h5><a href="">INTERIOR DESIGN</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/food.jpg' %}">
                            <h5><a href="#">RESTAURANTS AND BARS</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/farming.jpg' %}">
                            <h5><a href="#">FRESH FOOD</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/construction.jpg' %}">
                            <h5><a href="#">CONSTRUCTION MATERIALS</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/fashion.jpg' %}">
                            <h5><a href="#">FASHION</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/transport.jpg' %}">
                            <h5><a href="#">TRANSPORT</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/industry.jpg' %}">
                            <h5><a href="#">INDUSTRIAL PRODUCTS</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/public.jpg' %}">
                            <h5><a href="#">PUBLIC SERVICES FACILATORS</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/toursim.jpg' %}">
                            <h5><a href="#">TOURISM</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/house.jpg' %}">
                            <h5><a href="#">HOUSE AND LAND</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/hotels.jpg' %}">
                            <h5><a href="#">GUEST HOUSE AND HOTEL</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/event.jpg' %}">
                            <h5><a href="#">EVENT PLANNING AND DECOLATION </a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/warehouse.jpg' %}">
                            <h5><a href="#">WAREHOUSE</a></h5>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>FEACTURED PRODUCTS AND SERVICES</h2>
                    </div>                    
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/featured/furniture.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="https://www.woodcompanies.com/">Interior Design</a></h6>
                            <h5> frw 500,000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/featured/farming.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#"> Fresh Food</a></h6> 
                            <h5> frw 15,000</h5>                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/featured/construction.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Construction Materials</a></h6> 
                            <h5>frw 250,000</h5>                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/featured/food.jpg' %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Restaurant and Bar </a></h6>
                            <h5>frw 10,000</h5>                            
                        </div>
                    </div>
                </div>                              
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-4.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/lp-1.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Fresh Vegetables</h6>
                                        <span> frw 3000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/Tshirt.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>T shirt </h6>
                                        <span> frw 10,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/hotel.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Nyagahene Hotel</h6>
                                        <span>frw 50,000 </span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/bricks.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Burnt Bricks</h6>
                                        <span> frw 50</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/timber.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>DriedTimbers</h6>
                                        <span> frw 15000 </span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/table.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Dining Table</h6>
                                        <span> frw 300,000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top Rated Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/house-1.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> House</h6>
                                        <span>frw 15,000,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/land.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Land for Cultivation</h6>
                                        <span> frw 2,500,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/door.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Wooden Doors </h6>
                                        <span> frw 250,000</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/food.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Agatogo</h6>
                                        <span> frw 3,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/farming.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Irish Patatoes</h6>
                                        <span> frw 600</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/stone.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Stone For Construction</h6>
                                        <span> frw 70,000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Review Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/lp-1.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Fresh Vegetables</h6>
                                        <span> frw 500 </span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/inkoko.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Chicken</h6>
                                        <span> frw 15,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/igitoki.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Fresh Banana</h6>
                                        <span> frw 5,000</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/hotels.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6> Guest House</h6>
                                        <span> frw 15,000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/moto.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Motorcycle Taxi</h6>
                                        <span> frw 3000</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/latest-product/event.jpg' %}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Event Planners & Decolation </h6>
                                        <span> frw 500,000</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'img/blog/marketing.png' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2023</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Marketing Strategies</a></h5>
                            <p>Marketing is crucial for agency growth and success. Failing to identify, reach, and engage potential clients can lead to business failure. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'img/blog/dugital-1.jpg' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2023</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Digital Literacy for Your Development</a></h5>
                            <p>Digital literacy is essential for development as it empowers individuals and societies with access to information, digital skills, and economic opportunities, fostering innovation and progress.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'img/blog/blog-3.jpg' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2023</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Why farming is first step in development ?</a></h5>
                            <p>Farming is the foundational step in development because it provides a stable food source, income, and resources for communities, serving as the basis for economic growth and human well-being. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    {% endblock %}

    

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



</body>

</html>